# Terraform state & plan files
terraform.tfstate
terraform.tfstate.*
*.tfplan

# Sensitive configs & outputs
output/
*.tfvars
*.auto.tfvars

# Talos/Kube configs
output/kube-config.yaml
output/talos-config.yaml
output/talos-machine-config-*.yaml

# Terraform cache
.terraform/
.terraform.lock.hcl

# Editor/OS
*.swp
*.swo
*.bak
.DS_Store
.idea/
.vscode/

setup-script.sh